@font-face {
   font-family: 'smileandwave';
   font-display: swap;
   src: url('file:///C:/Users/HJ%20Andrade/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-10-01_023253/fonts/smileandwave/font.ttf');
}
